<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/test_vue/hello.html</title>
</head>
<body>
	<h1>Getting started with vue js</h1>
	<div id="app">
		<p>Daily Horoscope:{{ horoscope }}</p>
		<button v-on:click="clicked">click!</button>
		<ul>
			<li v-for="item in p [1,2,3]"> {{item}}</li>
		</ul>
		
		<input type="text" v-model="msg"/>
		<p>{{msg}}</p>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		new Vue({
			el:"#app",
			data:{
				horoscope:"Go to east to find a noble",
				msg:""
			},
			methods:{
				clicked: function(){
					alert("?");
					this.horoscope="You'll have a test soon";
				}
			}
		});
		
	
	</script>
</body>
</html>